.multi-select-options {
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #363636;
  display: none;
  z-index: 2;
}

.multi-select-options.is-open {
  display: block;
}

.multi-select-options__item {
  cursor: pointer;
}

.multi-selected {
  margin-bottom: 5px;
}
